<html>

<head>
  <script src="{{ url_for('static', filename='js/jquery_min_3-3-1.js') }}"></script>

  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/socket-2-2-1.js') }}"></script>

  <script src="{{ url_for('static', filename='js/modbus.js') }}"></script>
  <script src="{{ url_for('static', filename='js/mqtt.js') }}"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-4-1-3.css') }}">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Ginspector</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modbus TCP
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/modbus/read">Read</a>
            <a class="dropdown-item" href="/modbus/write">Write</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MQTT
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/mqtt/publish">Publish</a>
            <a class="dropdown-item" href="/mqtt/subscribe">Subscribe</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/snmp">SNMP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/restapi">REST API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bacnet">Bacnet IP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/opcua">OPC UA</a>
        </li>
      </ul>

    </div>
  </nav>


  {% block content %}{% endblock %}


</body>

</html>
