{% extends "base.html" %}
{% block content %}
<h1>Read</h1>
  <div>
  <div class="input-group col-lg-4">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">IP address</span>
    </div>
    <input id="ip_addr" type="text" class="form-control" placeholder="xxx.xxx.xxx.xxx" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group col-lg-4">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Port</span>
    </div>
    <input id="port" type="text" value="502" class="form-control" placeholder="Modbus TCP default = 502" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>

</div>

<div class="input-group col-lg-4">
  <button id="modbus_connect" type="button" class="btn btn-primary">Connect</button>
  <button id="modbus_disconnect" type="button" class="btn btn-primary">Disconnect</button>
</div>

<br>
<div class="input-group col-lg-4">
  <p id="connection_status" <span class="badge badge-pill badge-info">Info</span>
    <p />
</div>

<div class="container" id="content">

  <div class="input-group col-lg-4">
    <div class="input-group-prepend">
      <label class="input-group-text" for="registry_type">Register type</label>
    </div>
    <select class="custom-select" id="registry_type">
      <option value="holding" selected>Holding (04)</option>
      <option value="input">Input (03)</option>
      <option value="coil">Coil (01)</option>
    </select>
  </div>

  <div class="input-group col-lg-4">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Modbus address</span>
    </div>
    <input id="start_addr" type="text" class="form-control" placeholder="Address in decimal" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group col-lg-4">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Length</span>
    </div>
    <input id="read_length" type="text" class="form-control" placeholder="Number of registers" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group col-lg-4">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Pull intervall</span>
    </div>
    <input id="pull_interval" type="text" class="form-control" placeholder="Seconds" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group col-lg-4">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Node id</span>
    </div>
    <input id="node_id" type="text" class="form-control" placeholder="1-255" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group col-lg-4">
    <div class="input-group-prepend">
      <label class="input-group-text" for="endian">Endian</label>
    </div>
    <select class="custom-select" id="endian">

      <option value="big" selected>Big endian</option>
      <option value="little">Little endian</option>
    </select>
  </div>
  <div class="input-group col-lg-4">
    <button id="start_read_modbus" type="button" class="btn btn-primary">Start read modbus</button>
    <button id="stop_read_modbus" type="button" class="btn btn-primary">Stop read modbus</button>
    <p id="registers"></p>
  </div>

  <br>
  <table id="example" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Address</th>
        <th>Raw</th>
        <th>Uint16</th>
        <th>Sint16</th>
        <th>Uint32</th>
        <th>Sint32</th>
        <th>Float32</th>
        <th>Uint64</th>
        <th>Sint64</th>
        <th>Float64</th>
      </tr>
    </thead>

    <tbody id="tbodyid">

    </tbody>
  </table>
</div>

{% endblock %}
