{% extends "base.html" %}

{% block content %}
<h1>Subscribe</h1>
<div>
<div class="input-group col-lg-4">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">IP address/hostname</span>
  </div>
  <input id="ip_addr" type="text" class="form-control" placeholder="xxx.xxx.xxx.xxx" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group col-lg-4">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Port</span>
  </div>
  <input id="port" type="text" value="1883" class="form-control" placeholder="Default 1883 (8883 for TLS)" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group col-lg-4">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
  </div>
  <input id="username" type="text" class="form-control" placeholder="Leave blank for not in use" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group col-lg-4">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
  </div>
  <input id="password" type="text" class="form-control" placeholder="Leave blank for not in use" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group col-lg-4">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Certificate</span>
  </div>
  <input id="cafile" type="text" class="form-control" placeholder="Leave blank for not in use" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group col-lg-4">
  <button id="mqtt_connect" type="button" class="btn btn-primary">Connect</button>
  <button id="mqtt_disconnect" type="button" class="btn btn-primary">Disconnect</button>
</div>
<br>
<div class="input-group col-lg-4">
  <p id="mqtt_connection_status" <span class="badge badge-pill badge-info">Info</span>
    <p />
</div>

<div class="input-group col-lg-4">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Topic</span>
  </div>
  <input id="topic_subscribe" type="text" class="form-control" placeholder="use + for wildcard or # for all" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<button id="mqtt_subscribe" type="button" class="btn btn-primary">Subscribe</button>
<button id="mqtt_unsubscribe" type="button" class="btn btn-primary">Unsubscribe</button>
</div>

{% endblock %}
